* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
}

button i, button span {
  pointer-events: none;
}

.max-800, .container__icons {
  max-width: 1050px;
  width: 95%;
}

.shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container__icons {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 150px);
  justify-content: space-between;
  row-gap: 50px;
}
@media only screen and (max-width: 970px) {
  .container__icons {
    grid-template-columns: repeat(4, 150px);
  }
}
@media only screen and (max-width: 700px) {
  .container__icons {
    grid-template-columns: repeat(3, 150px);
  }
}
@media only screen and (max-width: 500px) {
  .container__icons {
    grid-template-columns: repeat(2, 150px);
  }
}
@media only screen and (max-width: 450px) {
  .container__icons {
    grid-template-columns: repeat(1, 1fr);
  }
  .container__icons .icon {
    width: 100%;
  }
}

.icon {
  font-size: 2.25rem;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 12px;
  width: 150px;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  opacity: 1;
  position: relative;
  z-index: 5;
  cursor: pointer;
}
.icon::before {
  content: attr(data-name);
  text-align: center;
  position: absolute;
  z-index: 10;
  border-radius: 12px;
  opacity: 0;
  font-size: 0.75rem;
  padding: 10px;
  transition: 0.3s ease opacity, 0.3s ease transform;
}
.icon--copy {
  animation: fade-off 1.5s linear 0.5s forwards;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 10;
  background-color: white;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.icon > i {
  pointer-events: none;
  transition: 0.3s ease opacity, 0.3s ease transform;
}
.icon:hover > i {
  transform: translateY(30px);
}
.icon:hover::before {
  transform: translateY(-30px);
  opacity: 1;
}

@keyframes fade-off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
nav {
  align-items: center;
  z-index: 10;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;
  position: sticky;
  justify-content: center;
  gap: 20px;
  display: flex;
  border-bottom: 2px solid gainsboro;
  padding: 10px 0;
}
nav .btn {
  display: none;
}
nav button {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  border: none;
  background: none;
  border-radius: 7px;
  padding: 3px 10px;
}
nav .button--open {
  background-color: #7532f8;
  color: white;
}
@media only screen and (max-width: 760px) {
  nav {
    padding-right: 2.5%;
    justify-content: end;
  }
  nav .btn {
    display: block;
  }
  nav .navbar {
    z-index: 11;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    transition: 0.3s ease width;
    top: 0;
    left: 0;
    position: fixed;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    height: 100vh;
  }
  nav .navbar button {
    font-size: 2rem;
  }
  nav .navbar button:last-child {
    top: 50px;
    right: 50px;
    position: absolute;
  }
}

.go-top-button {
  z-index: 10;
  font-size: 1.25rem;
  border: none;
  bottom: 20px;
  right: 20px;
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 50px;
  width: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  border-radius: 12px;
  transition: 0.3s ease all;
  animation: glide 2s infinite reverse linear;
  opacity: 1;
}

@keyframes glide {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
.navbar--open {
  width: 100% !important;
}

.form-check-input {
  height: 25px;
  width: 25px;
}

.package__title {
  font-size: 32px;
  background-color: #7532f8;
  border-radius: 5px;
  padding: 7px;
  color: white;
}

.title__underline {
  border-bottom: 2px solid #7532f8;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  display: flex;
  margin: 1rem auto;
}/*# sourceMappingURL=main.css.map */